

.images-temoignages {
    height: 25%;
    width: 25%;
    border-radius: 50%;
}

.map {
    width: 100%;
    height: 100%;
}

/* Rond blanc translucide pour les flèches (option) */
.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(1);          /* flèches blanches */
  background-color: rgba(0,0,0,.4);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.hero {
  min-height: 100vh; 
  background: linear-gradient(rgba(0,0,0,.8)),url(/Images/hero3.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}